
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h2>首页</h2>
<p>您好 <span th:text="${session.user==null?'游客':session.user.nickName}"></span></p>
<ul th:if="${session.user!=null}">
    <li>
        <a th:href="@{'/user/'+${session.user.uid}}" >个人中心</a>
    </li>
    <li>
        <a th:href="@{'/user/'+${session.user.uid}+'/group'}">我的组队</a>
    </li>
</ul>
<div>
    <a th:href="@{/login}" th:if="${session.user==null}" th:text="'登录'"></a>
    <a th:href="@{/logout}" th:if="${session.user!=null}" th:text="'退出登录'"></a>|
    <a th:href="@{/register}">注册</a>
</div>
</body>
</html>